<!DOCTYPE html>
<html>
<head>
  <title>Rent Cars</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body ng-app="rentCars">
  <section class="rent-cars-background">
  </section>
  <section class="rent-cars-background-overlay">
  </section>
  <section class="rent-cars" ng-controller="searchController">
    <article class="rent-cars-search">
      <div class="logo">
      </div>
      <form name="carSearchForm" ng-submit="carSearchForm.$valid && searchRentalCars()" novalidate>
        <div class="destination-container">
          <label for="destination">Destination</label>
          <input class="destination" ng-model="searchInput.dest" type="text" name="destination" placeholder="LAX, or San Francisco, CA etc." />
        </div>
        <div class="start-time-container">
          <label for="startDate">Pick up date</label>
          <input class="date" ng-model="searchInput.startdate" type="text" name="startDate" placeholder="mm/dd/yyyy" />
          <input class="time" ng-model="searchInput.pickuptime" type="text" name="pickUpTime" placeholder="00:00" />
        </div>
        <div class="end-time-container">
          <label for="endDate">Drop off date</label>
          <input class="date" ng-model="searchInput.enddate" type="text" name="endDate" placeholder="mm/dd/yyyy" />
          <input class="time" ng-model="searchInput.dropofftime" type="text" name="dropOffTime" placeholder="00:00" />
        </div>
        <div class="search-button-container">
          <button class="rent-cars-button" name="submit" type="submit">
            Search!
          </button>
        </div>
      </form>
    </article>
    <article class="rent-cars-results">
      <ul>
        <li ng-cloak ng-repeat="car in carResults" class="car-result">
          <div class="car-result-image">
            <img ng-src="images/{{car.CarTypeCode}}.png" onerror="this.src='images/XXAR.png'" alt="car image">
          </div>
          <div class="car-result-info">
            <div>
              <h2>{{car.CarTypeName}}</h2>
            </div>
            <div>
              <span>Car features: </span>
              <span>{{car.PossibleFeatures}}</span>
            </div>
            <div>
              <span>Possible models: </span>
              <span>{{car.PossibleModels}}</span>
            </div>
            <div>
              <span>Typical seating: </span>
              <span>{{car.TypicalSeating}}</span>
            </div>
          </div>
          <div class="car-result-cost">
            <div class="header">
              <h2 class="daily-rate-title">BEST DAILY RATE</h2>
              <span class="daily-rate-price">${{car.DailyRate}}</span>
              <span class="currency-code">{{car.CurrencyCode}}</span>
            </div>
            <div>
              <span class="fees">Fees: ${{car.TaxesAndFees}}</span>
              <span class="currency-code">{{car.CurrencyCode}}</span>
            </div>
            <div>
              <span class="total">Total: ${{car.TotalPrice}}</span>
              <span class="currency-code">{{car.CurrencyCode}}</span>
            </div>
            <div>
              <a class="pay-now-button rent-cars-button" href="{{car.TypicalSeating}}">Buy Now!</a>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/search_controller.js"></script>
  <script src="scripts/constants/api_constant.js"></script>
  <script src="scripts/services/search_service.js"></script>
  <script src="scripts/factories/parse_results_factory.js"></script>
</body>
</html>