body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  border-collapse: collapse;
  height: 100%;
}

section.rent-cars-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/car_background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}
/*section.rent-cars-background-overlay {
  background: rgba(0,0,0,0.72);
    position: fixed;
  width: 100%;
  height: 100%;
}*/

section.rent-cars {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

article.rent-cars-search,
article.rent-cars-results {
  position: relative;
  vertical-align: top;
  /*background: rgba(0,0,0,0.72);*/
  padding: 10px;
  border-radius: 4px;
  width: 75%;
  max-width: 1200px;
  min-width: 480px;
  /*margin: 10px auto;*/
  display: table;
  border: 1px solid #FFF;
  margin: 0 auto;
  padding: 0px

}

article.rent-cars-search {
  position: relative;
  z-index: 4;
  background: rgba(0,0,0,0.72);
  height: 10%;
  /*background-color: #F8F8F8;*/
}

article.rent-cars-search .logo-container {
  padding: 10px;
  display: table-cell;
  width: 20%;
  vertical-align: middle;
}
article.rent-cars-search .logo-container .logo {
    width: auto;
    height: 62px;
    background-image: url("../images/car_logo.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.form-container {
    display: table-cell;
    width: 80%;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px 0
}

article.rent-cars-search .form-container form {
  margin: 0 auto;
}

article.rent-cars-search .form-container form div {
  display: inline-block;
  /*border: 1px solid white;*/
  margin: 4px 2px;
}

article.rent-cars-search .form-container form div label {
  display: table-cell;
  font-size: 0.8em;
  color: #FFF;
  padding: 2px 0px;
}
article.rent-cars-search .form-container form div input {
  padding: 7px;
  font-size: 0.7em;
  color: #111;
  border-radius: 2px;
  border: 1px solid #D4CFCF;
  border: none;
}

article.rent-cars-search .form-container form div input.destination {
  width: 170px;
}
article.rent-cars-search .form-container form div input.date {
  width: 90px;
}
article.rent-cars-search .form-container form div input.time {
  width: 60px;
}

article.rent-cars-search .form-container form div.search-button-container .rent-cars-button {
  width: 182px;
}

article.rent-cars-search .form-container form div span.error {
  display: block;
  /*background-color: #CC0103;*/
  background-color: #B33A3A;
  color: #FFF;
  text-align: center;
  font-size: 0.8em;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
}

article.rent-cars-results {
  background-color: #F8F8F8;
  /*background-color: #FFF;*/
  /*display: none;*/

  height: 100%;
}

article.rent-cars-results.loading {
  /*background-color: #FFF;*/
  display: table;
}

article.rent-cars-results .loading-container {
  height: 200px;
  width: 100%;
  display: table;
  vertical-align: middle;
}
article.rent-cars-results .loading-container div.loading-image {
  width: 100%;
  display: table-cell;
  background-image: url("../images/car_loading.gif");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

.rent-cars-search-destination {
  width: auto;
  padding: 5px 10px;
}

.rent-cars-search-start,
.rent-cars-search-start-time,
.rent-cars-search-end,
.rent-cars-search-end-time {
  display: inline-block;
}

.rent-cars-results ul {
  display: none;
}

.rent-cars-results ul.available-cars {
  position: relative;
  padding: 15px;
  width: 80%;
  max-width: 1024px;
  min-width: 480px;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
  background-color: #FFF;
}

.rent-cars-results ul > li {
  list-style: none;
}

li.car-result {
  width: 90%;
  margin: 20px auto;
  display: table;
  border: 1px solid #D4CFCF;

}

.car-result-image {
  width: 25%;
  display: table-cell;
  vertical-align: middle;

}
.car-result-image img {
  width: 100%;
  padding: 2px;
}

.car-result-info {
  display: table-cell;
  padding: 2px;
  width: 40%;
}
.car-result-info div h2 {
  font-size: 1.2em;
  margin: 0 0 4px;
}

.car-result-cost {
  display: table-cell;
  padding: 2px;
  width: 25%;
  border-radius: 4px;
}

.rent-cars-button {
  /*border: 1px solid #D4CFCF;*/
  border: none;
  background-color: #24BD6D;
  color: #FFF;
  outline: none;
  padding: 6px 20px;
  font-size: 0.8em;
  text-decoration: none;
  border-radius: 2px;
}
.rent-cars-button:hover {
  cursor: pointer;
}

.car-result-info div span {
  font-size: 0.8em;
}

.car-result-info .header,
.car-result-cost .header {
  margin: 0 0 5px;
}
.car-result-cost div h2.daily-rate-title,
.car-result-info div h2.car-type {
  font-size: 1em;
  margin: 0 0 2px;
}
.car-result-cost div span.daily-rate-title {
  display: block;
}
.car-result-cost div span.daily-rate-price {
  font-size: 1.1em;
}
.car-result-cost div span.currency-code,
.car-result-cost div span.fees {
  font-size: 0.6em;
  color: #827d7d;
}
.car-result-cost div span.total {
  font-size: 0.9em;
}
.pay-now-button {
  display: inline-block;
  margin: 0 auto;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
