body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  border-collapse: collapse;
  height: 100%;
}


/* background image*/
section.rent-cars-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/car_background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1;
}


/*header*/
header.rent-cars-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #000;
  display: table;
  color: #FFF;
  /*background: rgba(0,0,0,0.72);*/
  z-index: 3;
}

header.rent-cars-header .logo-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  height: 100%;
}
header.rent-cars-header .logo-container .logo {
  padding: 0 10px;
  height: 45px;
  width: auto;
  background-image: url("../images/car_logo.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header.rent-cars-header nav.rent-cars-nav {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 75%;
  height: 100%;
}
header.rent-cars-header nav.rent-cars-nav .nav-items {
  text-align: right;
  padding-right: 20px
}
header.rent-cars-header nav.rent-cars-nav .nav-items span {
  cursor: pointer;
  padding: 0 15px;
}


/*main section*/
section.rent-cars {
  display: table;
  width: 100%;
  height: 100%;
  color: #3C3939;
  position: relative;
  z-index: 2;
}


/*car rental search container*/
section.rent-cars article.rent-cars-search {
  display: table-cell;
  width: 25%;
  height: 100%;
}

section.rent-cars article.rent-cars-search .form-container {
  position: relative;
  vertical-align: middle;
  display: table;
  background-color: rgba(0,0,0,0.72);
  margin: 20px auto;
  width: auto;
  border-radius: 4px;
}

section.rent-cars article.rent-cars-search .form-container form.car-search-form {
  font-size: 0.8em;
  display: table-cell;
  padding: 4px;
}

form.car-search-form div {
  margin: 0px;
  padding: 3px;
  width: auto;
  /*the min-width that native datepicker/time elements need to stay together*/
  min-width: 194px;
}

form.car-search-form div,
form.car-search-form div span,
form.car-search-form div label {
  display: block;
}

form.car-search-form div label {
  color: #FFF;
  padding: 2px 0px;
}

form.car-search-form div select,
form.car-search-form div input {
  background-color: rgba(234, 234, 234, 1);
  color: #111;
  display: inline-block;
}

form.car-search-form div input.destination {
  width: 179px;
}

form.car-search-form div input.destination,
form.car-search-form div select {
  padding: 7px;
  border-radius: 2px;
  border: none;
}

form.car-search-form div input[type="date"],
select.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  border: none;
  font-family: helvetica;
  outline: none;
  padding: 5px;
  width: auto;
}

form.car-search-form div.search-button-container {
  width: auto;
}

form.car-search-form div.search-button-container .rent-cars-button {
  width: 193px;
  padding: 7px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

form.car-search-form div.error-container,
form.car-search-form div.api-error-container {
  color: #FFF;
}

form.car-search-form div.error-container span.error,
form.car-search-form div.api-error-container span.error {
  display: block;
  background-color: #FF7D19;
  text-align: center;
  border-radius: 2px;
  width: 179px;
  padding: 4px 7px;
  font-size: 0.9em;
}
form.car-search-form div.api-error-container span.error:first-letter,
form.car-search-form div.error-container span.error:first-letter {
  text-transform: capitalize
}

input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}


/*car rental results*/
section.rent-cars article.rent-cars-results {
  display: table-cell;
  width: 75%;
  height: 100%;
}
section.rent-cars article.rent-cars-results .results-container {
  background-color: rgba(234, 234, 234, 0.72);
}

article.rent-cars-results .loading-container {
  background-color: rgba(234, 234, 234, 0.72);
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
article.rent-cars-results .loading-container div.loading-image {
  width: 100%;
  display: table-cell;
  background-image: url("../images/car_loading.gif");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}


article.rent-cars-results .results-container ul.available-cars {
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: 1024px;
  display: table;
  background-color: rgba(234, 234, 234, 1);
}

article.rent-cars-results .results-container ul.available-cars li.car-result {
  list-style: none;
  width: 90%;
  margin: 20px auto;
  display: table;
  border: 1px solid #FF7D19;
}

li.car-result .car-result-image {
  width: 25%;
  display: table-cell;
  vertical-align: middle;

}
li.car-result .car-result-image img {
  width: 100%;
  padding: 2px;
}

li.car-result .car-result-info {
  display: table-cell;
  padding: 2px;
  width: 40%;
}
li.car-result .car-result-info div h2 {
  font-size: 1.2em;
  margin: 0 0 4px;
}

li.car-result .car-result-cost {
  display: table-cell;
  padding: 2px;
  width: 25%;
  border-radius: 4px;
}

li.car-result .rent-cars-button,
form.car-search-form div.search-button-container .rent-cars-button {
  border: none;
  background-color: #24BD6D;
  color: #FFF;
  outline: none;
  padding: 6px 20px;
  font-size: 0.8em;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}

li.car-result .rent-cars-button {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 4px 0 0;
}

form.car-search-form div.search-button-container .rent-cars-button:hover,
li.car-result .rent-cars-button:hover {
  cursor: pointer;
}

li.car-result .car-result-info div span {
  font-size: 0.8em;
}

li.car-result .car-result-info .header,
li.car-result .car-result-cost .header {
  margin: 0 0 5px;
}
li.car-result .car-result-cost div h2.daily-rate-title {
  font-size: 1em;
  margin: 0 0 2px;
}
li.car-result .car-result-info h5.car-type {
  font-size: 0.9em;
  margin: 0 0 2px;
}
li.car-result .car-result-cost div span.daily-rate-title {
  display: block;
}
li.car-result .car-result-cost div span.daily-rate-price {
  font-size: 1.1em;
}
li.car-result .car-result-cost div span.currency-code,
li.car-result .car-result-cost div span.fees {
  font-size: 0.6em;
  color: #827d7D;
}
li.car-result .car-result-cost div span.total {
  font-size: 0.9em;
}


/*media queries*/
@media (max-width: 768px) {
  section.rent-cars article.rent-cars-results,
  section.rent-cars article.rent-cars-search {
    width: 100%;
    display: block;
  }

  article.rent-cars-results .results-container ul.available-cars {
    width: 100%;
  }
}
